<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    {% if site.google-verification %}
    <meta name="google-site-verification" content="{{ site.google_verification }}">
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0596de">
    <meta name="apple-mobile-web-app-title" content="Christophe Lieutaud">
    <meta name="application-name" content="Christophe Lieutaud">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s'}}">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ "/favicon.png" | prepend: site.baseurl }}">
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:url" content="https://{{site.url}}">
    <meta property="og:image" content="https://{{site.url}}/img/Christophe-Lieutaud-Osteopathe.jpg">
    <meta property="business:contact_data:street_address" content="1 rue des Frères Lumières">
    <meta property="business:contact_data:locality" content="Vaison la Romaine">
    <meta property="business:contact_data:region" content="">
    <meta property="business:contact_data:postal_code" content="84110">
    <meta property="business:contact_data:country_name" content="France">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Physiotherapy",
            "name": "{{site.title}}",
            "image": "https://{{site.url}}/img/Christophe-Lieutaud-Osteopathe.jpg",
            "@id": "",
            "url": "https://{{site.url}}",
            "telephone": "+33 6 14 53 60 38",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "1 rue des Frères Lumières",
                "addressLocality": "Vaison la Romaine",
                "postalCode": "84110",
                "addressCountry": "FR"
            },
            "openingHoursSpecification": {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                ],
                "opens": "08:00",
                "closes": "20:00"
            }
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "{{site.title}}",
            "url": "https://{{site.url}}"
        }
    </script>
</head>